{% extends "global/base.html" %}
{% block title %}home|{% endblock title %}

{% block content %}


<div class="main-content main-content-list container">
  {% include "recipes/partials/AMleao.html" %}
  {% include "recipes/partials/AMcachorro.html" %}
  {% include "recipes/partials/minimimpersonalizado.html" %}
  {% include "recipes/partials/urso.html" %}
  {% include "recipes/partials/dotora.html" %}
  {% include "recipes/partials/shitzu.html" %}
  {% include "recipes/partials/ovelhinha.html" %}    
  
</div>
{% endblock content %}